## The following requirements were added by pip freeze:
cachetools
certifi
cffi
chardet
colorama
cryptography
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
httplib2
idna
oauthlib
packaging
protobuf
pyasn1
pyasn1-modules
pycparser
pynubank
pyOpenSSL
pyparsing
pytz
qrcode
requests
requests-oauthlib
requests-pkcs12
rsa
six
uritemplate
urllib3